/******************************************************
HEADER

******************************************************/
.logo{
  background-color: #15252d;
  color: white;
}
.footer{
  color:white;
  text-align: center;
  background-color: #15252d;
}

.container{
  color: #15252d;
}
